@charset "UTF-8";

@media (min-width: 1025px) and (max-width: 1280px){
    #section1{
        width: 100%;
        font-size: 14px;
    }
}

@media (min-width: 768px) and (max-width: 1024px){
    #section1{
        width: 100%;
        font-size:  12px;
    }
    #section1 .section1-notice{
        font-size: 0.7143rem;
    }
    #section1 .article2, #section1 .article3{
        margin: 20px auto;
    }
    #section1 .section1-btn-area button{
        font-size: 1rem;
    }
}

@media (min-width: 320px) and (max-width: 480px){
    #section1{
        width: 100%;
        font-size:  10px;
    }
    #section1 .section1-notice{
        font-size: 0.6429rem;
        width: 90%;
        text-align: left;
    }
    #section1 .article2, #section1 .article3{
        margin: 20px auto;
        width: 90%;
    }
    #section1 article h4{
        font-size: 1.143rem;
    }
    #section1 .section1-btn-area{
        width: 90%;
    }
    #section1 .section1-btn-area button{
        font-size:0.8571rem;
    }
}